<footer id="footer" class="section bg-light">
    <div class="border-top border-lightgrey">
        <div class="container pt-6">
            <div class="row">
                <div class="col-lg-3">
                    <h4 class="fw-bold">Conseil I-mmobilier</h4>
                    <p class="text-justify">Nous nous engageons à fournir les services immobiliers les plus personnalisés, de l'inscription à la clôture. Nous avons des résultats exceptionnels qui sont confirmés par le nombre de clients que nous servons.</p>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4 ps-3 ps-lg-6">
                    <h4 class="fw-bold">Le Site</h4>
                    <ul class="list">
                        <li><a href="{{path('app_about')}}" class="text-link">À propos</a></li>
                        <li><a href="{{path('app_services')}}" class="text-link">Services</a></li>
                        <li><a href="{{path('app_blog')}}" class="text-link">Blog</a></li>
                        <li><a href="{{path('app_contact')}}" class="text-link">Contact</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <h4 class="fw-bold">Administratif</h4>
                    <ul class="list">
                        <li><a href="" class="text-link">Conditions générales d'utilisation</a></li>
                        <li><a href="" class="text-link">Mentions Légales</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 col-lg-3 mb-4">
                    <h4 class="fw-bold">Contact</h4>
                    <ul class="list">
                        <li>
                            <i class="ri-community-fill align-middle"></i> 
                            Abidjan, Cocody 2 plateaux Valon
                        </li>
                        <li><a href="tel:0033615202035" class="text-link">
                            <i class="ri-phone-fill align-middle"></i>
                            +33 6 15 20 20 35
                        </a></li>
                        <li><a href="tel:002250788024985" class="text-link">
                            <i class="ri-phone-fill align-middle"></i>
                            +225 07 880 249 85
                        </a></li>
                        <li><a href="mailto:contact@conseil-i-mmobilier.com" class="text-link">
                            <i class="ri-mail-open-fill align-middle"></i>
                            contact@conseil-i-mmobilier.com
                        </a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</footer>